<template>
  <v-content>
    <keep-alive>
      <component name="dashboard" :is="layout" />
    </keep-alive>
    <DashboardHome />
  </v-content>
</template>
<script>
import DashboardHome from "@/components/Dashboard";
export default {
  name: "Dashboard",
  components: {
    DashboardHome
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>
<style scoped>
.v-content {
  background: none !important;
}
</style>