<template>
  <v-content>
    <keep-alive>
      <component :is="layout" />
    </keep-alive>
    <FAQ />
  </v-content>
</template>

<script>
import FAQ from "@/components/FAQ.vue";
export default {
  name: "Dashboard",
  components: {
    FAQ
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>

<style scoped>
.v-content {
  background: none !important;
}
</style>