<template>
  <v-content>
    <keep-alive>
      <component :is="layout" />
    </keep-alive>
    <News />
  </v-content>
</template>
<script>
import News from "@/components/News.vue";
export default {
  name: "news",
  components: {
    News
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>
<style scoped>
.v-content {
  background: none !important;
}
</style>