<template>
  <v-content>
    <keep-alive>
      <component :is="layout" />
    </keep-alive>
    <Profile />
  </v-content>
</template>
<script>
import Profile from "@/components/Profile";
export default {
  name: "editProfile",
  components: {
    Profile
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>
<style scoped>
.v-content {
  background: none !important;
}
</style>