<template>
  <v-content>
    <keep-alive>
      <component :is="layout" />
    </keep-alive>
    <Static />
  </v-content>
</template>
<script>
import Static from "@/components/Statics.vue";
export default {
  name: "Statics",
  components: {
    Static
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>
<style scoped>
.v-content {
  background: none !important;
}
</style>