<template>
  <v-content>
    <keep-alive>
      <component name="dashboard" :is="layout" />
    </keep-alive>
    <AddNews />
  </v-content>
</template>
<script>
import AddNews from "@/components/AddNews.vue";
export default {
  name: "News",
  components: {
    AddNews
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>
<style scoped>
.v-content {
  background: none !important;
}
</style>