<template>
  <v-content>
    <keep-alive>
      <component name="dashboard" :is="layout" />
    </keep-alive>
    <AddSurvey />
  </v-content>
</template>
<script>
import AddSurvey from "@/components/AddSurvey.vue";
export default {
  name: "AddSurveys",
  components: {
    AddSurvey
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>
<style scoped>
.v-content {
  background: none !important;
}
</style>