<template>
  <v-content>
    <component :is="layout" />
    <contactUS />
  </v-content>
</template>

<script>
import contactUS from "@/components/ContactUs.vue";
export default {
  name: "Contact-us",
  components: {
    contactUS
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>

<style scoped>
.v-content {
  background-image: url("../assets/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
