<template>
  <v-container fluid>
    <center class="mt-12">
      <router-link to="/">Home page</router-link>
      <h1>صفحه مورد نظر شما یافت نشد! :(</h1>
      <p>جای نگرانی نیست این ارور به صورت خودکار برای ما ارسال میشود.</p>
      <img
        src="https://www.boostability.com/wp-content/uploads/2012/10/BOOST_BLOG_IMAGE_RB_SET_10_404_PAGE_1200x628px_v1_3.jpg"
        alt="404"
        width="60%"
      />
    </center>
  </v-container>
</template>

<style scoped>
a {
  text-decoration: underline;
}
</style>
