<template>
  <v-content>
    <component :is="layout" />
  </v-content>
</template>

<script>
export default {
  name: "Home",
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>

<style scoped>
.v-content {
  background-image: url("../assets/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
