<template>
  <v-content>
    <component :is="layout" />
    <Login />
  </v-content>
</template>

<script>
import Login from "../components/Login";

export default {
  components: {
    Login
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>

<style>
.v-content {
  background-image: url("../assets/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
