<template>
  <v-content>
    <component :is="layout" />
    <Register />
  </v-content>
</template>
<script>
import Register from "../components/Register.vue";
export default {
  components: {
    Register
  },
  computed: {
    layout() {
      return this.$route.meta.layout || "default";
    }
  }
};
</script>


<style>
.v-content {
  background-image: url("../assets/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>