<template>
  <v-container fluid justify="center">
    <v-row>
      <v-col>
        <v-card
          class="mt-4 mx-auto"
          min-width="450"
          max-width="80%"
          min-height="100%"
        >
          <div class="v-sheet--offset d-flex justify-center">
            <v-sheet elevation="6" color="blue" dark>
              <v-avatar size="70px">
                <v-icon x-large>mdi-newspaper</v-icon>
              </v-avatar>
            </v-sheet>
          </div>
          <v-card-text class="pt-0">
            <div class="font-weight-bold mb-2">افزودن خبر جدید</div>
            <v-card-subtitle
              >در این بخش میتوانید خبر جدید اضافه کنید.</v-card-subtitle
            >
            <v-divider class="my-2"></v-divider>

            <v-col cols="12" sm="12" md="12">
              <v-text-field
                v-model="title"
                label="عنوان خبر"
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="12">
              <wysiwyg v-model="text" style="max-witdh:100%" />
            </v-col>
          </v-card-text>
          <v-card-actions class="d-flex justify-center">
            <v-btn large color="primary">ارسال</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Addnews",
  data() {
    return {
      title: "",
      text: "",
    };
  },
};
</script>
<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
.image {
  max-width: 98%;
  min-width: 50%;
  min-height: 100%;
  margin: 2rem 0;
}
</style>
