<template>
  <v-container fluid justify="center">
    <v-row>
      <v-col>
        <v-card class="mt-4 mx-auto" min-width="350" max-width="70%" min-height="100%">
          <div class="v-sheet--offset d-flex justify-center">
            <v-sheet elevation="6" color="blue" dark>
              <v-avatar size="70px">
                <v-icon x-large>mdi-file-excel-box-outline</v-icon>
              </v-avatar>
            </v-sheet>
          </div>
          <v-card-text class="pt-0">
            <div class="font-weight-bold mb-2">افزودن نظرسنجی جدید</div>
            <v-card-subtitle>این بخش برای افزودن فرم نظرسنجی جدید است.</v-card-subtitle>
            <v-divider class="my-2"></v-divider>

            <v-col cols="12" sm="12" md="12">
              <v-text-field v-model="formTitle" label="عنوان نظرسنجی" outlined></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="12">
              <v-text-field v-model="formDisc" label="توضیح نظرسنجی" outlined></v-text-field>
            </v-col>
          </v-card-text>
          <v-card-actions class="d-flex justify-center">
            <v-btn large :disabled="fields.length < 1" color="primary">ارسال</v-btn>
          </v-card-actions>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-fab-transition>
                <v-btn
                  v-bind="attrs"
                  v-on="on"
                  @click="addField()"
                  color="pink"
                  dark
                  absolute
                  bottom
                  right
                  fab
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </v-fab-transition>
            </template>
            <span>افزودن سوال</span>
          </v-tooltip>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          :key="index"
          v-for="(field,index) in fields"
          class="mx-auto mt-12"
          min-width="350"
          max-width="70%"
          max-height="100%"
        >
          <v-card-text>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field v-model="field.title" label="عنوان سوال" outlined></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-select :items="items" v-model="field.type" label="نوع سوال" outlined></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                md="12"
                sm="12"
                v-if="field.type && field.options.length > 0 && field.type !== 'تشریحی'"
              >
                <v-row v-for="(option,i) in field.options" :key="i">
                  <v-checkbox class="pb-6 mr-3" v-if="field.type == 'یک گزینه ای'" disabled></v-checkbox>
                  <v-radio
                    class="pb-6 mr-3"
                    disabled
                    v-else-if="field.type == 'چندگزینه ای'"
                    value="n"
                  ></v-radio>
                  <v-text-field
                    v-if="field.type !== 'تشریحی'"
                    class="ml-3"
                    v-model="option.name"
                    label="عنوان گزینه"
                    outlined
                  ></v-text-field>
                  <v-btn class="mt-3" icon @click="deleteOption(i,index)">
                    <v-icon>mdi-close</v-icon>
                  </v-btn>
                </v-row>
              </v-col>
              <v-col>
                <v-btn
                  :disabled="field.type == 'تشریحی' || !field.type"
                  color="primary"
                  @click="addOption(index)"
                  rounded
                >اضافه کردن آپشن</v-btn>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-btn icon @click="deleteField(index)">
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => {
    return {
      items: ["چندگزینه ای", "یک گزینه ای", "تشریحی"],
      itemsEn: {
        تشریحی: "text",
        "چندگزینه ای": "radio",
        "یک گزینه ای": "checkbox"
      },
      fields: [],
      formTitle: "",
      formDisc: "",
      title: "",
      disc: ""
    };
  },
  methods: {
    async addField() {
      try {
        this.fields.push({
          title: "",
          disc: "",
          type: "",
          options: []
        });
      } catch (e) {
        console.log(e);
      }
    },
    async deleteField(index) {
      try {
        this.fields.splice(index, 1);
      } catch (e) {
        console.log(e);
      }
    },
    async addOption(index) {
      try {
        this.fields[index].options.push({ title: "", text: "" });
      } catch (e) {
        console.log(e);
      }
    },
    async deleteOption(i, index) {
      try {
        this.fields[index].options.splice(i, 1);
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>
<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
