<template>
  <div>
    <v-card
      light
      name="card-login"
      class="mx-auto my-12 align-center pa-5"
      max-width="50%"
      min-width="450px"
      min-height="100%"
    >
      <v-card-title name="card-login-title">ارتباط با ما</v-card-title>
      <v-card-text>
        <v-row>
          <v-col class="text-center">
            <v-col>
              <v-card-subtitle
                >با ما از طریق فضای مجازی در ارتباط باشید.</v-card-subtitle
              >
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="mx-2"
                    v-bind="attrs"
                    v-on="on"
                    color="green lighten-2"
                    dark
                    fab
                    small
                  >
                    <v-icon>mdi-whatsapp</v-icon>
                  </v-btn>
                </template>
                <span>Whatsapp</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="mx-2"
                    v-bind="attrs"
                    v-on="on"
                    color="indigo darken-4"
                    dark
                    fab
                    small
                  >
                    <v-icon>mdi-facebook</v-icon>
                  </v-btn>
                </template>
                <span>Facebook</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="mx-2"
                    v-bind="attrs"
                    v-on="on"
                    color="indigo"
                    dark
                    fab
                    small
                  >
                    <v-icon>mdi-linkedin</v-icon>
                  </v-btn>
                </template>
                <span>LinkedIn</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="mx-2"
                    v-bind="attrs"
                    v-on="on"
                    color="blue lighten-1"
                    dark
                    fab
                    small
                  >
                    <v-icon>mdi-telegram</v-icon>
                  </v-btn>
                </template>
                <span>Telegram</span>
              </v-tooltip>
            </v-col>
            <v-col>
              <v-form ref="form">
                <v-text-field
                  class="mx-auto"
                  label="نام کامل"
                  style="min-height: 96px;max-width:80%;"
                  type="text"
                ></v-text-field>
                <v-text-field
                  class="mx-auto"
                  style="min-height: 96px;max-width:80%;"
                  label="آدرس ایمیل"
                  type="email"
                ></v-text-field>
                <v-textarea
                  class="mx-auto"
                  style="max-width:80%;"
                  label="متن پیام"
                  rows="2"
                ></v-textarea>
                <v-btn type="submit" color="purple darken-1" block dark
                  >ارسال</v-btn
                >
              </v-form>
            </v-col>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "ContactUs",
};
</script>

<style lang="scss" scoped>
.v-card__title {
  justify-content: center;
}
.v-btn {
  margin: {
    top: 3.7rem;
  }
}
</style>
