<template>
  <v-container fluid justify="center">
    <v-row class="pt-6">
      <v-col class="pa-4">
        <v-card class="mt-4 mx-auto" min-width="350">
          <v-sheet
            class="v-sheet--offset mx-auto pt-4"
            color="cyan"
            elevation="12"
            max-width="calc(100% - 39px)"
          >
            <v-sparkline
              :labels="labels"
              :value="value"
              color="white"
              :line-width="2"
              :padding="16"
            ></v-sparkline>
          </v-sheet>

          <v-card-text class="pt-0">
            <div class="font-weight-bold mb-2">آمار</div>
            <div class="subheading font-weight-light grey--text">
              <router-link to="/dashboard/statics">آمار آخرین نظرسنجی</router-link>
            </div>
            <v-divider class="my-2"></v-divider>
            <v-icon small class="ml-2">mdi-clock</v-icon>
            <span class="grey--text">آخرین نظرسنجی 16 دقیقه پیش</span>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col class="pa-4">
        <v-card class="mt-4 mx-auto" min-width="350" min-height="calc(100% - 16px)">
          <div class="v-sheet--offset d-flex justify-end pl-6">
            <v-sheet elevation="6" color="orange" dark>
              <v-avatar size="70px">
                <v-icon x-large>mdi-newspaper</v-icon>
              </v-avatar>
            </v-sheet>
          </div>

          <v-card-text class="pt-0">
            <div class="font-weight-bold mb-2">آخرین اخبار</div>
            <v-card-subtitle>
              امروز مدیر کل CNG در کنفرانس خبری گفت از فردا همه بیکار میشن پس
              دنبال کار جدید باشید مرسی اه تازه گفت دیگه بنزین هم نداریم
              ...
            </v-card-subtitle>

            <div class="subheading font-weight-light grey--text">
              <router-link to="/dashboard/news">مشاهده همه اخبار</router-link>
            </div>
            <v-divider class="my-2"></v-divider>
            <div class="d-flex flex-column justify-space-between">
              <div>
                <v-icon small class="ml-2">mdi-clock</v-icon>
                <span class="grey--text">آخرین خبر 21 دقیقه پیش</span>
              </div>
              <div>
                <v-icon small class="ml-2">mdi-eye</v-icon>
                <span class="grey--text">تعداد بازدید : 19</span>
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card class="mt-4 mx-auto" min-width="160" max-height="80%">
          <div class="v-sheet--offset d-flex justify-end pl-6">
            <v-sheet elevation="6" color="orange" dark>
              <v-avatar size="70px">
                <v-icon x-large>mdi-nature-people</v-icon>
              </v-avatar>
            </v-sheet>
          </div>

          <v-card-text class="pt-0">
            <div class="font-weight-bold mb-2">تعداد افراد زیرمجموعه</div>
            <v-card-subtitle>134</v-card-subtitle>

            <div class="subheading font-weight-light grey--text">
              <!-- <router-link to="/dashboard/subs">مشاهده تمام افراد زیر مجموعه</router-link> -->
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mt-4 mx-auto" min-width="160" max-height="80%">
          <div class="v-sheet--offset d-flex justify-end pl-6">
            <v-sheet elevation="6" color="green" dark>
              <v-avatar size="70px">
                <v-icon x-large>mdi-file-eye-outline</v-icon>
              </v-avatar>
            </v-sheet>
          </div>

          <v-card-text class="pt-0">
            <div class="font-weight-bold mb-2">تعداد فایل های آپلود شده</div>
            <v-card-subtitle>13</v-card-subtitle>

            <div class="subheading font-weight-light grey--text">
              <!-- <router-link to="/dashboard/subs">مشاهده تمام افراد زیر مجموعه</router-link> -->
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mt-4 mx-auto" min-width="160" max-height="80%">
          <div class="v-sheet--offset d-flex justify-end pl-6">
            <v-sheet elevation="6" color="blue" dark>
              <v-avatar size="70px">
                <v-icon x-large>mdi-office-building</v-icon>
              </v-avatar>
            </v-sheet>
          </div>

          <v-card-text class="pt-0">
            <div class="font-weight-bold mb-2">تعداد جایگاه های زیرمجموعه</div>
            <v-card-subtitle>44</v-card-subtitle>

            <div class="subheading font-weight-light grey--text">
              <!-- <router-link to="/dashboard/subs">مشاهده تمام افراد زیر مجموعه</router-link> -->
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card class="mt-4 mx-auto" min-width="160" max-height="80%">
          <div class="v-sheet--offset d-flex justify-end pl-6">
            <v-sheet elevation="6" color="red" dark>
              <v-avatar size="70px">
                <v-icon x-large>mdi-newspaper-variant-multiple-outline</v-icon>
              </v-avatar>
            </v-sheet>
          </div>

          <v-card-text class="pt-0">
            <div class="font-weight-bold mb-2">تعداد اخبار آپلود شده</div>
            <v-card-subtitle>14</v-card-subtitle>

            <div class="subheading font-weight-light grey--text">
              <!-- <router-link to="/dashboard/subs">مشاهده تمام افراد زیر مجموعه</router-link> -->
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    labels: ["12am", "3am", "6am", "9am", "12pm"],
    value: [200, 700, 210, 390, 310]
  })
};
</script>

<style scoped lang="scss">
.v-card {
  .v-sheet--offset {
    transition: 0.2s ease-in-out;
    top: -24px;
    position: relative;
  }
  &:hover {
    .v-sheet--offset {
      top: -35px;
    }
  }
}
</style>
