<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-text-field append-icon="mdi-card-search" outlined placeholder="جستجو در سوالات" dense></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3" lg="3" sm="6">
        <v-card elevation="0">
          <div class="v-sheet--offset d-flex justify-center">
            <v-sheet elevation="0" color="blue" dark>
              <v-avatar size="100px">
                <v-icon x-large>mdi-newspaper-variant-multiple</v-icon>
              </v-avatar>
            </v-sheet>
          </div>
          <div class="font-weight-bold my-3 text-center">ساخت خبر</div>
          <v-card-text class="text-center">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای ...
          </v-card-text>
          <div class="text-center">
            <a href="#news">مشاهده سوالات</a>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" md="3" lg="3" sm="6">
        <v-card elevation="0">
          <div class="v-sheet--offset d-flex justify-center">
            <v-sheet elevation="0" color="orange" dark>
              <v-avatar size="100px">
                <v-icon x-large>mdi-head-question</v-icon>
              </v-avatar>
            </v-sheet>
          </div>
          <div class="font-weight-bold my-3 text-center">ساخت نظرسنجی</div>
          <v-card-text class="text-center">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
          </v-card-text>
          <div class="text-center">
            <a href="#surveys">مشاهده سوالات</a>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" md="3" lg="3" sm="6">
        <v-card elevation="0">
          <div class="v-sheet--offset d-flex justify-center">
            <v-sheet elevation="0" color="red" dark>
              <v-avatar size="100px">
                <v-icon x-large>mdi-chart-tree</v-icon>
              </v-avatar>
            </v-sheet>
          </div>
          <div class="font-weight-bold my-3 text-center">تحلیل آمار</div>
          <v-card-text class="text-center">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی
            در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را
            می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
            الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این
            صورت می توان امید داشت
          </v-card-text>
          <div class="text-center">
            <a href="#statics">مشاهده سوالات</a>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" md="3" lg="3" sm="6">
        <v-card elevation="0">
          <div class="v-sheet--offset d-flex justify-center">
            <v-sheet elevation="0" color="green" dark>
              <v-avatar size="100px">
                <v-icon x-large>mdi-account-edit-outline</v-icon>
              </v-avatar>
            </v-sheet>
          </div>
          <div class="font-weight-bold mt-3 text-center">ویرایش مشخصات</div>

          <v-card-text class="text-center">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در
            ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
            کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی
            در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را
            می طلبد.
          </v-card-text>
          <div class="text-center">
            <a href="#profile">مشاهده سوالات</a>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {};
</script>

<style scoped>
.v-sheet--offset {
  border-radius: 50%;
}
</style>
