<template>
  <v-container fluid>
    <v-row class="d-flex justify-center mt-12">
      <v-hover>
        <template v-slot:default="{ hover }">
          <v-card
            class="mx-auto p-0"
            min-width="80%"
            max-width="80%"
            color="transparent"
            elevation="0"
          >
            <!-- <video
              id="video"
              autoplay
              muted
              loop
              :poster="require('../assets/howto.jpg')"
              preload="auto"
              width="100%"
              height="100%"
              :src="require('../assets/howto.mp4')"
            ></video>-->
            <v-fade-transition>
              <v-overlay
                v-if="hover"
                absolute
                color="#036358"
              >برای گزارش مشکل از بخش ارتباط با ما استفاده کنید.</v-overlay>
            </v-fade-transition>
          </v-card>
        </template>
      </v-hover>
    </v-row>
  </v-container>
</template>

<style scoped></style>
