<template>
  <div class="loadingWrapper">
    <v-progress-circular indeterminate color="black"></v-progress-circular>
  </div>
</template>

<script>
export default {};
</script>

<style>
.loadingWrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.144);
  z-index: 100;
}
</style>