<template>
  <div>
    <v-card
      name="card-login"
      class="mx-auto my-12 align-center pa-5"
      max-width="400"
      shaped
      light=""
      max-height="90%"
    >
      <v-card-title name="card-login-title">ورود</v-card-title>
      <v-card-text>
        <v-form ref="form" @submit.prevent="login()" v-model="valid">
          <v-text-field
            v-model="email"
            type="text"
            :rules="emailRules"
            label="ایمل"
            required
          ></v-text-field>
          <v-text-field
            v-model="password"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="show ? 'text' : 'password'"
            name="input-10-1"
            label="رمز عبور"
            hint="حداقل 8 کاراکتر"
            counter
            @click:append="show = !show"
          ></v-text-field>
          <v-btn
            :loading="loading"
            type="submit"
            block
            depressed
            color="#0442BF"
            dark
            >ورود</v-btn
          >
        </v-form>
      </v-card-text>
      <v-alert v-show="status" dense text border="left" :type="status">
        {{ message }}
      </v-alert>
      <v-list-item three-line v-if="details">
        <v-list-item-content>
          <v-list-item-title>قوانین</v-list-item-title>
          <v-list-item-subtitle
            >رمزعبور و ایمیل نباید یکسان باشند.</v-list-item-subtitle
          >
          <v-list-item-subtitle
            >ایمیل باید قابل قبول باشد.</v-list-item-subtitle
          >
          <v-list-item-subtitle
            >رمز باید حداقل 8 کاراکتر داشته باشد.</v-list-item-subtitle
          >
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
import Http from "@/services/Http.js";
export default {
  name: "Login",
  data: () => ({
    show: false,
    details: null,
    loading: false,
    status: null,
    message: "",
    password: "",
    valid: true,
    email: "",
    emailRules: [
      (v) => !!v || "این فیلد الزامی است",
      (v) => /.+@.+\..+/.test(v) || "ایمیل صحیح نمیباشد",
    ],
    rules: {
      required: (value) => !!value || "این فیلد الزامی است.",
      min: (v) => v.length >= 8 || "حداقل 8 کاراکتر نیاز است!",
    },
  }),
  methods: {
    login() {
      if (this.$refs.form.validate() && this.email !== this.password) {
        this.loading = true;
        new Http("/api/v1/auth/login")
          .get()
          .then((data) => {
            console.log(data);
          })
          .catch((e) => {
            this.status = "error";
            this.message = "مشکلی پیش آمد!";
            this.loading = false;
            console.log(e);
          });
      } else {
        this.details = true;
        this.status = "error";
        this.message = "مطمعن شوید قوانین را مطالعه کردید!";
        this.loading = false;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.v-card__title {
  justify-content: center;
}
.v-btn {
  margin: {
    top: 3.7rem;
  }
}
</style>
