<template>
  <v-container fluid>
    <v-row>
      <v-col v-if="items.length === 0" cols="12" md="4" sm="12" lg="4">
        <v-skeleton-loader max-width="394" min-width="380" class="mx-auto" type="card,actions"></v-skeleton-loader>
      </v-col>
      <v-col v-if="items.length === 0" cols="12" md="4" sm="12" lg="4">
        <v-skeleton-loader max-width="394" min-width="380" class="mx-auto" type="card,actions"></v-skeleton-loader>
      </v-col>
      <v-col v-if="items.length === 0" cols="12" md="4" sm="12" lg="4">
        <v-skeleton-loader max-width="394" min-width="380" class="mx-auto" type="card,actions"></v-skeleton-loader>
      </v-col>
      <v-col v-if="items.length === 0" cols="12" md="4" sm="12" lg="4">
        <v-skeleton-loader max-width="394" min-width="380" class="mx-auto" type="card,actions"></v-skeleton-loader>
      </v-col>
      <v-col v-if="items.length === 0" cols="12" md="4" sm="12" lg="4">
        <v-skeleton-loader max-width="394" min-width="380" class="mx-auto" type="card,actions"></v-skeleton-loader>
      </v-col>
      <v-col v-if="items.length === 0" cols="12" md="4" sm="12" lg="4">
        <v-skeleton-loader max-width="394" min-width="380" class="mx-auto" type="card,actions"></v-skeleton-loader>
      </v-col>
      <v-col v-if="items.length === 0" cols="12" md="4" sm="12" lg="4">
        <v-skeleton-loader max-width="394" min-width="380" class="mx-auto" type="card,actions"></v-skeleton-loader>
      </v-col>
      <v-col v-if="items.length === 0" cols="12" md="4" sm="12" lg="4">
        <v-skeleton-loader max-width="394" min-width="380" class="mx-auto" type="card,actions"></v-skeleton-loader>
      </v-col>
      <v-col v-else v-for="(item, index) in items" :key="index" cols="12" md="4" sm="12" lg="4">
        <v-card max-width="394" min-width="380" class="mx-auto">
          <v-list-item>
            <v-list-item-avatar color="grey">
              <v-img :src="item.profile"></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
              <v-list-item-title class="font-weight-bold">
                {{
                item.title
                }}
              </v-list-item-title>
              <v-list-item-subtitle class="font-weight-light">
                نوشته شده توسط
                <span class="font-weight-bold">
                  {{
                  item.title
                  }}
                </span>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>

          <v-img :src="item.pic" height="194"></v-img>

          <v-card-text>{{ item.text }}</v-card-text>

          <v-card-actions>
            <v-btn text color="deep-purple accent-4">خواندن</v-btn>
            <v-btn text color="deep-purple accent-4">نشانه گزاری</v-btn>
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon>mdi-heart</v-icon>
            </v-btn>
            <v-btn icon>
              <v-icon>mdi-share-variant</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Http from "../services/Http";
export default {
  name: "News",
  data() {
    return {
      pics: [],
      profiles: [],
      items: []
    };
  },
  async mounted() {
    await this.getProfile();
    await this.getPics();
    await this.getTexts();
  },
  methods: {
    async getPics() {
      const http = new Http(
        "https://pixabay.com/api/?key=17157667-0ed208ed2556c09785bdcf46a&q=earth&per_page=40"
      );

      http
        .get()
        .then(data => {
          this.pics.push(...data.hits);
        })
        .catch(e => console.log(e));
    },
    async getProfile() {
      const http = new Http(
        "https://pixabay.com/api/?key=17157667-0ed208ed2556c09785bdcf46a&q=face"
      );

      http
        .get()
        .then(data => {
          this.profiles.push(...data.hits);
        })
        .catch(e => console.log(e));
    },
    async getTexts() {
      const http = new Http("https://jsonplaceholder.ir/posts");

      http
        .get()
        .then(data => {
          for (let i = 0; i < 15; i++) {
            this.items.push({
              title: data[i].title,
              text: data[i].body,
              pic: this.pics[i].webformatURL,
              profile: this.profiles[i].webformatURL
            });
          }
        })
        .catch(e => console.log(e));
    }
  }
};
</script>

<style></style>
