<template>
  <v-container fluid justify="center">
    <v-dialog v-model="dialog" max-width="390">
      <v-carousel reverse height="500" hide-delimiter-background show-arrows-on-hover>
        <v-carousel-item class="text-center" v-for="(background, i) in backgrounds" :key="i">
          <v-btn
            @click="
              selectBg(background.name, i);
              closeDialog();
            "
            color="green"
          >انتخاب {{ background.name }}</v-btn>
          <v-img :src="background.path" width="100%" height="99%"></v-img>
        </v-carousel-item>
      </v-carousel>
    </v-dialog>
    <v-row>
      <v-col cols="12" md="6" sm="12" class="mt-12">
        <v-card class="mt-4" min-width="350" max-width="100%" min-height="100%">
          <div class="v-sheet--offset d-flex justify-start mr-12">
            <v-sheet elevation="6" color="green" dark>
              <v-avatar size="70px">
                <v-icon x-large>mdi-file-excel-box-outline</v-icon>
              </v-avatar>
            </v-sheet>
          </div>
          <v-card-text class="pt-0">
            <div class="font-weight-bold mb-2">ویرایش مشخصات</div>
            <v-divider class="my-3"></v-divider>
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-text-field disabled label="نام موسسه" value="ملت" outlined></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field disabled label="نام بخش" value="CNG" outlined></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-text-field disabled label="نام" value="نمونه" outlined></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field label="نام خانوادگی" value="نمونه زاده" outlined disabled></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-text-field label="ایمیل" value="email@email.com" outlined></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field label="شماره موبایل" value="09128080808" outlined></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-text-field label="نوع برنامه" value="حرفه ای" outlined></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field label="شماره محل کار" value="0218852588" outlined></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                <v-text-field label="آدرس" value="سعادت آباد - میدان کاج - کوچه علی آبادی" outlined></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="d-flex justify-center" cols="12" sm="12" md="12">
                <v-btn block color="green" dark>ذخیره</v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="6" sm="12" class="mt-12">
        <v-row>
          <v-col>
            <v-card class="mt-4" min-width="370" max-width="100%" min-height="200">
              <div class="v-sheet--offset d-flex justify-center">
                <v-avatar size="70px">
                  <v-img src="https://cdn.vuetifyjs.com/images/john.jpg"></v-img>
                </v-avatar>
              </div>
              <v-card-text class="pt-0 d-flex justify-center align-center flex-column">
                <v-card-subtitle>بانک ملت</v-card-subtitle>
                <div class="font-weight-bold mb-2">نمونه نمونه زاده</div>
                <v-card-subtitle>
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                  با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                  مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی
                  تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                  کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
                  آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
                  افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص
                  طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
                  صورت می توان امید ...
                </v-card-subtitle>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col>
            <v-card min-width="370" max-width="100%" min-height="100%">
              <div class="d-flex justify-start mr-12">
                <v-sheet elevation="6" color="blue" dark>
                  <v-avatar size="70px">
                    <v-icon x-large>mdi-account-settings</v-icon>
                  </v-avatar>
                </v-sheet>
              </div>
              <v-card-text class="pt-0">
                <v-card-title>تنظیمات</v-card-title>
                <v-divider class="mb-3"></v-divider>
                <v-col cols="12">
                  <v-switch @change="setDarkMode()" v-model="dark" label="حالت شب"></v-switch>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="پشت زمینه پنل"
                    readonly
                    :value="background"
                    outlined
                    @click="openDialog()"
                  ></v-text-field>
                </v-col>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data() {
    return {
      dark: false,
      background: "Mountains",
      backgrounds: [
        { name: "Mountains", path: require("../assets/mountains.webp") },
        { name: "Flower", path: require("../assets/flower.webp") },
        { name: "Cartoon", path: require("../assets/cartoon.webp") },
        { name: "Snow", path: require("../assets/snow.webp") },
        { name: "Space", path: require("../assets/space.webp") },
        { name: "Balloon", path: require("../assets/balloon.webp") }
      ],
      dialog: false
    };
  },
  mounted() {
    this.getTheme();
  },
  methods: {
    getTheme() {
      const defaultTheme = JSON.parse(this.$cookies.get("theme"));
      this.background = this.$cookies
        .get("bg")
        .split(".")[0]
        .split("/")[2];
      if (typeof defaultTheme === "boolean") {
        this.dark = defaultTheme;
      }
    },
    setDarkMode() {
      this.$root.$emit("setTheme", this.dark);
    },
    openDialog() {
      this.dialog = true;
    },
    closeDialog() {
      this.dialog = false;
    },
    selectBg(name, i) {
      this.background = name;
      this.$root.$emit("setBg", this.backgrounds[i].path);
    }
  }
};
</script>

<style scoped>
.v-sheet--offset {
  top: -44px;
  position: relative;
}
</style>
