<template>
  <div>
    <v-card
      light=""
      shaped
      class="mx-auto my-12 align-center pa-5"
      max-width="400"
      min-height="400"
    >
      <v-card-title>ثبت نام</v-card-title>
      <v-card-text>
        <v-form @submit.prevent="register()" ref="form" v-model="valid">
          <v-text-field
            v-model="fullName"
            :rules="[(v) => !!v || 'این فیلد الزامی است']"
            label="نام کامل"
            required
          ></v-text-field>
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="ایمیل"
            required
          ></v-text-field>
          <v-text-field
            v-model="password"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="show ? 'text' : 'password'"
            name="input-10-1"
            label="رمز عبور"
            hint="حداقل 8 کراکتر"
            counter
            @click:append="show = !show"
          ></v-text-field>
          <v-btn
            type="submit"
            :loading="loading"
            block
            depressed
            color="#0476D9"
            dark
            >ثبت نام</v-btn
          >
        </v-form>
      </v-card-text>
      <v-alert v-show="status" dense text border="left" :type="status">{{
        message
      }}</v-alert>
      <v-list-item three-line v-if="details">
        <v-list-item-content>
          <v-list-item-title>قوانین</v-list-item-title>
          <v-list-item-subtitle
            >رمزعبور و ایمیل نباید یکسان باشند.</v-list-item-subtitle
          >
          <v-list-item-subtitle
            >ایمیل باید قابل قبول باشد.</v-list-item-subtitle
          >
          <v-list-item-subtitle
            >رمز باید حداقل 8 کاراکتر داشته باشد.</v-list-item-subtitle
          >
        </v-list-item-content>
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Register",
  data: () => ({
    show: false,
    details: null,
    loading: false,
    status: null,
    message: "",
    password: "",
    valid: true,
    fullName: "",
    email: "",
    userName: "",
    emailRules: [
      (v) => !!v || "این فیلد الزامی است",
      (v) => /.+@.+\..+/.test(v) || "ایمیل صحیح نمیباشد",
    ],
    rules: {
      required: (value) => !!value || "این فیلد الزامی است.",
      min: (v) => v.length >= 8 || "حداقل 8 کاراکتر نیاز است!",
    },
  }),
  methods: {
    async register() {
      if (this.$refs.form.validate() && this.email !== this.password) {
        this.loading = true;
        fetch(`${process.env.VUE_APP_SERVER_URL}/users/auth/register`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ email: this.email, password: this.password }),
        })
          .then((res) => res.json())
          .then((data) => {
            console.log(data);
            this.loading = false;
          })
          .catch((e) => {
            this.status = "error";
            this.message = "مشکلی پیش آمد!";
            this.loading = false;
            console.log(e);
            return (document.location.pathname = "/auth/login");
          });
      } else {
        this.details = true;
        this.status = "error";
        this.message = "مطمعن شوید قوانین را مطالعه کردید!";
        this.loading = false;
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.v-card__title {
  justify-content: center;
}
.v-btn {
  margin: {
    top: 2rem;
  }
}
</style>
