<template>
  <v-container fluid>
    <v-row>
      <v-col class="mt-5">
        <v-card class="mt-4 mx-auto" min-width="350" max-height="100%">
          <v-sheet
            class="v-sheet--offset mx-auto pt-4"
            color="cyan"
            elevation="12"
            max-width="calc(100% - 39px)"
          >
            <v-sparkline
              :labels="labels"
              :value="value"
              color="white"
              :line-width="2"
              :padding="16"
              auto-draw
            ></v-sparkline>
          </v-sheet>
          <v-card-text class="font-weight-bold mb-2">آمار آخرین نظرسنجی</v-card-text>
          <v-card-subtitle class="subheading font-weight-light">تعداد بازدید در 24 ساعت گذشته</v-card-subtitle>
        </v-card>
      </v-col>
      <v-col class="mt-5">
        <v-card class="mt-4 mx-auto" min-width="350">
          <v-sheet
            class="v-sheet--offset mx-auto pt-4"
            color="green"
            elevation="12"
            max-width="calc(100% - 39px)"
          >
            <v-sparkline
              :labels="labels2"
              :value="value2"
              color="white"
              :line-width="2"
              :padding="16"
              auto-draw
            ></v-sparkline>
          </v-sheet>
          <v-card-text class="font-weight-bold mb-2">آمار بازدید از آخرین خبر</v-card-text>
          <v-card-subtitle class="subheading font-weight-light">تعداد بازدید در 24 ساعت گذشته</v-card-subtitle>
        </v-card>
      </v-col>
      <v-col class="mt-5">
        <v-card class="mt-4 mx-auto" min-width="350">
          <v-sheet
            class="v-sheet--offset mx-auto pt-4"
            color="orange"
            elevation="12"
            max-width="calc(100% - 39px)"
          >
            <v-sparkline
              :labels="labels3"
              :value="value3"
              color="white"
              :line-width="2"
              :padding="16"
              auto-draw
            ></v-sparkline>
          </v-sheet>
          <v-card-text class="font-weight-bold mb-2">آمار آخرین نظرسنجی</v-card-text>
          <v-card-subtitle class="subheading font-weight-light">تعداد بازدید در 24 ساعت گذشته</v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
    <v-divider class="mt-5 mx-5"></v-divider>
    <v-row>
      <v-col class="mt-5">
        <div class="d-flex justify-center align-center text-center font-weight-bold my-5">
          <span class="ml-4">آمار دقیق نظرسنجی ها</span>
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark v-bind="attrs" v-on="on">انتخاب نظرسنجی جهت نمایش</v-btn>
            </template>
            <v-list>
              <v-list-item v-for="(item, index) in items" :key="index">
                <v-list-item-title>
                  <v-btn text>{{ item.title }}</v-btn>
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
        <v-card class="mt-4 mx-auto" min-width="160" max-height="100%">
          <div class="v-sheet--offset d-flex justify-start pr-6">
            <v-sheet elevation="6" color="red" dark>
              <v-avatar size="70px">
                <v-icon x-large>mdi-clipboard-file</v-icon>
              </v-avatar>
            </v-sheet>
          </div>

          <v-card-text class="pt-0">
            <v-data-table :headers="headers" :items="desserts" height="100%">
              <template v-slot:item.calories="{ item }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-chip v-on="on" v-bind="attrs" color="green" dark>
                      {{
                      item.calories
                      }}
                    </v-chip>
                  </template>
                  <span>{{ item.carbs - 20 }} نفر</span>
                </v-tooltip>
              </template>
              <template v-slot:item.fat="{ item }">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-chip v-on="on" v-bind="attrs" color="red" dark>
                      {{
                      item.fat
                      }}
                    </v-chip>
                  </template>
                  <span>{{ item.carbs - 30 }} نفر</span>
                </v-tooltip>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card class="mt-4 mx-auto" min-width="350" max-width="100%" max-height="100%">
          <div class="v-sheet--offset d-flex justify-start pr-6">
            <v-sheet elevation="6" color="orange" dark>
              <v-avatar size="70px">
                <v-icon x-large>mdi-book-information-variant</v-icon>
              </v-avatar>
            </v-sheet>
          </div>
          <span class="font-weight-bold mb-2 mr-6">آمار سوالات تشریحی</span>
          <v-card-text class>
            <v-list two-line class="d-flex flex-column">
              <v-dialog v-model="dialog" max-width="350">
                <v-card>
                  <v-card-title>جواب سوالات</v-card-title>
                  <v-card-subtitle>جواب ها</v-card-subtitle>
                  <v-card-actions class="text-center">
                    <v-btn outlined @click="dialog = false" color="yellow darken-3">بستن</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-list-item v-for="(item,index) in items2" :key="index">
                <v-list-item-content style="cursor:pointer" @click="dialog = true">
                  <v-list-item-title class="text-wrap" v-html="item.title"></v-list-item-title>
                  <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
                </v-list-item-content>
                <v-card></v-card>
              </v-list-item>
            </v-list>
          </v-card-text>
          <v-pagination
            class="mb-6"
            v-model="page"
            circle
            :length="10"
            :page="1"
            :total-visible="5"
          ></v-pagination>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  name: "Static",
  data: () => ({
    dialog: false,
    page: 1,
    labels: ["12am", "3am", "6am", "9am", "12pm"],
    value: [200, 700, 210, 390, 310],
    labels2: ["24pm", "3am", "6am", "9am", "24am", "7am"],
    value2: [100, 700, 500, 390, 10],
    labels3: ["1am", "13am", "24am", "19am", "2pm"],
    value3: [20, 200, 500, 200, 456],
    headers: [
      {
        text: "عنوان نظرسنجی",
        align: "start",
        sortable: false,
        value: "name"
      },
      { text: "بیشترین جواب", value: "calories" },
      { text: "کمترین جواب", value: "fat" },
      { text: "میزان مشارکت در نظرسنجی", value: "carbs" }
    ],
    desserts: [
      {
        name: "آیا رفت و آمد راحت هست؟",
        calories: "تا حدودی",
        fat: "خیلی زیاد",
        carbs: 34
      },
      {
        name: "کیفیت دستگاه پز",
        calories: "عالی",
        fat: "خیلی بد",
        carbs: 37
      },
      {
        name: "آیا از دخانیات استفاده میکنید؟",
        calories: "خیر",
        fat: "بله",
        carbs: 90
      },
      {
        name: "به طور متوسط چند مشتری در طول روز به جایگاه شما مراجعه میکنند؟",
        calories: "بین 30 تا 60",
        fat: "کمتر از 10",
        carbs: 67
      },
      {
        name: "آیا اصول پیش گیری از کرونا در جایگاه شما رعایت میشود؟",
        calories: "خیلی زیاد",
        fat: "تا حدودی",
        carbs: 49
      },
      {
        name: "آیا شما از تحصیلات دانشگاهی برخوردارید؟",
        calories: "بلی",
        fat: "خیر",
        carbs: 94
      },
      {
        name: "میزان همکاری مراجعین",
        calories: "خیلی کم",
        fat: "زیاد",
        carbs: 98
      },
      {
        name: "میزان رعایت بهداشت در جایگاه شما",
        calories: "خیلی بد",
        fat: "متوسط",
        carbs: 65
      }
    ],
    items: [
      { title: "نظرسنجی درباره ساختمان ها" },
      { title: "نظرسنجی آبان ماه" },
      { title: "نظرسنجی مهر ماه" },
      { title: "نظرسنجی 1" }
    ],
    items2: [
      {
        title: "وضع جایگاه خود را چگونه توصیف میکنید؟",
        subtitle: "20 نفر به این سوال پاسخ داده اند"
      },
      {
        title: "آیا تا به حال با مشتریان درگیری داشته اید نوضیح دهید.",
        subtitle: "80 نفر به این سوال پاسخ داده اند"
      },
      {
        title: "لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ",
        subtitle: "10 نفر به این سوال پاسخ داده اند"
      }
    ]
  }),
  methods: {}
};
</script>

<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
