<template>
  <v-app>
    <!-- <v-content> -->
    <router-view></router-view>
    <!-- </v-content> -->
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {}
};
</script>
<style>
@import "~vue-wysiwyg/dist/vueWysiwyg.css";
::-webkit-scrollbar {
  width: 10px;
  background-color: lightgrey;
}
::-webkit-scrollbar-button {
  background-color: gray;
}
::-webkit-scrollbar-thumb {
  background-color: lightseagreen;
}
* {
  font-family: "samim", Tahoma, sans-serif;
}
a {
  text-decoration: none;
}
</style>
