<template>
  <div>
    <v-navigation-drawer :src="background" v-model="drawer" right dark app>
      <v-list>
        <v-list-item to="/dashboard/#" link exact-active-class="dark-link">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>خانه</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/dashboard/add/surveys" link exact-active-class="dark-link">
          <v-list-item-action>
            <v-icon>mdi-plus-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>افزودن نظرسنجی</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/dashboard/add/news" link exact-active-class="dark-link">
          <v-list-item-action>
            <v-icon>mdi-pen</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>افزودن خبر</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/dashboard/statics" link exact-active-class="dark-link">
          <v-list-item-action>
            <v-icon>mdi-chart-bar</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>آمار</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/dashboard/news" link exact-active-class="dark-link">
          <v-list-item-action>
            <v-icon>mdi-newspaper</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>اخبار</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/dashboard/FAQ" link exact-active-class="dark-link">
          <v-list-item-action>
            <v-icon>mdi-frequently-asked-questions</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>سوالات متداول</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn link to="/" block>خروج</v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app color="blue darken-3" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4">
        <span class="hidden-sm-and-down">پنل ادمین</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-badge color="red" overlap dot left>
        <v-menu offset-x>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon>mdi-bell</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item>
              <v-list-item-title>زیر مجموعه جدید اضافه شد.</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>جواب های جدید برای نظرسنجی</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>آمار نظرسنجی ها آماده میباشد.</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-badge>
      <v-btn link to="/dashboard/profile" icon large>
        <v-avatar size="32px" item>
          <v-img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="Vuetify"></v-img>
        </v-avatar>
      </v-btn>
    </v-app-bar>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  data: () => ({
    drawer: true,
    background: require("../assets/mountains.webp")
  }),
  created() {
    this.$root.$on("setTheme", theme => this.setTheme(theme));
    this.$root.$on("setBg", bg => this.setBg(bg));
  },
  beforeMount() {
    this.setTheme();
    this.setBg();
  },
  methods: {
    setTheme(theme) {
      if (theme !== undefined) {
        this.$cookies.set("theme", theme);
        this.$vuetify.theme.dark = theme;
      } else {
        const defaultTheme = JSON.parse(this.$cookies.get("theme"));
        if (typeof defaultTheme === "boolean") {
          this.$vuetify.theme.dark = defaultTheme;
        }
      }
    },
    setBg(bg) {
      if (bg !== undefined) {
        this.$cookies.set("bg", bg);
        this.background = bg;
      } else {
        const defaultBg = this.$cookies.get("bg");
        if (defaultBg) this.background = defaultBg;
      }
    }
  }
};
</script>
