<template>
  <div name="nav" style="height:0;" class="nav">
    <v-app-bar
      app
      class="navbar"
      :color="position > 50 ? 'white' : 'transparent'"
      :class="position > 50 ? 'navchange' : ''"
    >
      <span class="ml-6 mr-6 mt-2 logo">
        <router-link to="/">
          <img id="logo" :src="require('@/assets/logo.webp')" alt="logo" />
        </router-link>
      </span>
      <span class="ml-6 mr-6 navItem">
        <router-link exact-active-class="active" class="custom-underline" to="/">خانه</router-link>
      </span>
      <span class="ml-3 mr-6 navItem">
        <router-link
          exact-active-class="active"
          class="custom-underline"
          to="/how-to-use"
        >آموزش کار با سیستم</router-link>
      </span>
      <span class="ml-3 mr-6 navItem">
        <router-link
          exact-active-class="active"
          class="custom-underline"
          to="/contact-us"
        >ارتباط با ما</router-link>
      </span>
      <span v-if="token" class="ml-3 mr-6 navItem">
        <router-link exact-active-class="active" class="custom-underline" to="/logout">خروج</router-link>
      </span>
      <span class="login">
        <v-btn v-if="!token" depressed link to="/auth/login" class="mr-6" color="#F27E63" dark>ورود</v-btn>
        <v-btn
          class="ml-12 mr-4"
          v-if="!token"
          depressed
          link
          to="/auth/register"
          color="#D95284"
          dark
        >ثبت نام</v-btn>
        <v-btn
          v-if="!token"
          depressed
          link
          to="/dashboard/#"
          class="ml-12"
          color="#0476D9"
          dark
        >داشبورد</v-btn>
      </span>
    </v-app-bar>
    <v-navigation-drawer light temporary class="drawer" close-on-content-click v-model="drawer" app>
      <v-list>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/">
              <v-list-item-title>خانه</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-login</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/auth/login">
              <v-list-item-title>ورود</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-key</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/auth/register">
              <v-list-item-title>ثبت نام</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-monitor-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/dashboard">
              <v-list-item-title>داشبورد</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-teach</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/how-to-use">
              <v-list-item-title>آموزش کار با سیستم</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-mail</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <router-link to="/contact-us">
              <v-list-item-title>ارتباط با ما</v-list-item-title>
            </router-link>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-btn x-large class="drawerBtn" color="white" icon @click.stop="drawer = !drawer">
      <v-icon>mdi-menu</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: "defaultLayout",
  data: () => ({
    token: null,
    drawer: false,
    position: null
  }),
  mounted() {
    window.addEventListener("scroll", this.updatePosition);
  },
  methods: {
    updatePosition() {
      this.position = window.scrollY;
    }
  }
};
</script>

<style lang="scss" scoped>
.navchange {
  .custom-underline,
  .custom-underline:hover,
  .custom-underline:focus,
  .custom-underline:active {
    color: black;
  }
  .navItem {
    color: black;
  }
  .navItem:hover .custom-underline::after {
    background-color: rgba(19, 19, 19, 0.685);
  }
  .active::after {
    background-color: rgba(19, 19, 19, 0.685) !important;
    transition: 0;
  }
  -webkit-box-shadow: 0px 5px 21px -1px rgba(87, 87, 87, 1);
  -moz-box-shadow: 0px 5px 21px -1px rgba(87, 87, 87, 1);
  box-shadow: 0px 5px 21px -1px rgba(87, 87, 87, 1) !important;
}
.active::after {
  content: "" !important;
  position: absolute !important;
  background-color: rgba(255, 255, 255, 0.685) !important;
  width: 90% !important;
}
.navbar {
  display: flex;
  flex-direction: row;
  direction: rtl;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: none;
  justify-content: space-between;
  @media screen and (max-width: 800px) {
    display: none;
  }
}
#logo {
  width: 2.5rem;
  height: 90%;
  @media screen and (max-width: 900px) {
    display: none;
  }
}
.login {
  position: fixed;
  left: 0rem;
  top: 0.8rem;
  @media screen and (max-width: 800px) {
    margin: 0 !important;
    padding: 0 !important;
  }
}
.drawerBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  @media screen and (min-width: 801px) {
    display: none;
  }
}
.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  color: white;
  text-decoration: none;
}
.custom-underline {
  position: relative;
  padding: {
    bottom: 13px;
  }
  text-align: center;
}

.custom-underline::after {
  content: "";
  position: absolute;
}

.navItem .custom-underline::after {
  top: 85%;
  height: 2px;
  width: 0%;
  left: 5%;
  transition: 0.2s ease-in-out all 0.2s;
}

.navItem:hover .custom-underline::after {
  background-color: rgba(255, 255, 255, 0.685);
  width: 90%;
  transition: 0.2s ease-in-out all;
}

.navItem {
  @media screen and (max-width: 900px) {
    margin: {
      left: 0.7rem !important;
      right: 0.7rem !important;
    }
    padding: 0 !important;
  }
}
</style>
